body {
  background: LightSlateGray;
  font-family: sans-serif;
}
h1{
  color: PaleGoldenRod;
  text-align: center;
}
h2{
  color: PaleGoldenRod;
  text-align: center;
}
p {
  color: PaleGoldenRod;
  text-align: center;
}
.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: WhiteSmoke;
}
.assign img{
  width: 200px;
  padding: 10px;
  align: center;
}
  
