body {
  background: LightSlateGray;
  font-family: sans-serif;
  text-align: center;
}
h1{
  color: black;
  text-align: center;
}
h2{
    text-align: center;
}

p {
  color: black;
  text-align: center;
}
.assign {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  background: WhiteSmoke;
}
.assign img{
  width: 200px;
  padding: 10px;
  border: 2px solid brown;
}
a{
  text-decoration: none;
  color: black; 
}
  
  
